panelview,  
.panel-arrowcontent{ 
    color: #fff !important;
}

#PersonalToolbar{
  background: rgb(131,58,180) !important;;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) !important;; 
  border: 2px solid black;
  border-radius: 10px;
}

#PlacesToolbarItems{
  color: # !important;
  font-weight: bold;
  margin: 3px 0;
}

#nav-bar-customization-target{
  background: gray !important;
/*   the wide bar that has home button and back button */
}

.toolbarbutton-1{
  background: #000 !important; 
/*   border-radius: 50px; */
  padding-inline: 10px !important;;
}

#tabs-newtab-button{
/*   background: #CD853F !important; */
  border-radius: 50px;
  border: 1px solid #000; 
   background: rgb(255,0,0) !important;;
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%) !important;; 
}

#developer-button, #enhancerforyoutube_maximerf_addons_mozilla_org-browser-action, #_580efa7d-66f9-474d-857a-8e2afc6b1181_-browser-action, #_762f9885-5a13-4abd-9c77-433dcd38b8fd_-browser-action, #ublock0_raymondhill_net-browser-action, #addon_darkreader_org-browser-action, #sponsorblocker_ajay_app-browser-action, #_c4b582ec-4343-438c-bda2-2f691c16c262_-browser-action{
  background: #000 !important;
  border: 2px solid #000;
  box-shadow: #000 0px -1px 2px;
  border-radius:50px;
  margin: 2px !important;
  padding: 0 1px !important;
}

#fxa-toolbar-menu-button{
  background: #fdff00 !important;
  border: 2px solid #000;
  box-shadow: #000 0px -1px 2px;
  border-radius: 10px;
  margin: 2px !important;
  padding: 1px !important;
}

#urlbar-input-container, #urlbar-background{
/*   background: #373737; */
  margin-top: 1px;
  border: 2px solid #000 !important;
  border-radius: 50px !important;;
}

#home-button{
  background: #000 !important;; 
}
#reload-button ,#back-button, #forward-button{
  background: #000 !important;
}
#library-button{
  background: #gray !important;
  border: 2px solid #fff;
  box-shadow: #000 0px -1px 2px;
  border-radius:50px;
  margin: 2px !important;
  width: 10px !important;
  padding: 0 1px !important;
}

.tab-content{
  background: darkorchid !important;
  border-bottom-right-radius: 50px;
  border: 2px solid #000;
}
.tab-loading-burst{
  background: #000;
}
.tabbrowser-tab{
    background: #000 !important;
}
#TabsToolbar[brighttext]{
  --attention-icon-color: var(--lwt-tab-attention-icon-color, #000 !important;
}
